@import "tailwindcss";

@font-face {
    font-family: 'base';
    src: url('../public/Fonts/8vIH7w4qzmVxm2BL9A.ttf') format('truetype');
}
@font-face {
    font-family: 'heading';
    src: url('../public/Fonts/jAnEgHdjHcjgfIb1ZcUyNoWg.ttf') format('truetype');
}
@font-face {
    font-family: 'demo3';
    src: url('../public/Fonts/JTUQjIg1_i6t8kCHKm459WxRyS7m.ttf') format('truetype');
    
}
@font-face {
    font-family: 'demo4';
    src: url('../public/Fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.ttf') format('truetype');
}
@font-face {
    font-family: 'stroke-bold';
    src: url('../public/Fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'stroke-regular';
    src: url('../public/Fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'stroke-light';
    src: url('../public/Fonts/Montserrat-Light.ttf') format('truetype');
}

.stroke{
    -webkit-text-stroke: 1px white;
}